<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/admin-header.html :: admin-header"></head>
<body>
<header th:replace="/fragments/admin-body-header.html :: admin-body-header"></header>

<section class="sm">
    <div class="container-sm">
        <div class="card fs-3 fw-bold mb-3 p-3 text-center">카테고리 생성</div>
        <form>
            <div class="card-header">
                <h3>카테고리 이름</h3>
            </div>
            <div class="card-body">
                <input style="width: 60%;border:none" name="name" type="text" id="name" placeholder="카테고리 이름을 입력하세요"/>
            </div>
            <div class="card-header">
                <h3>가중치 </h3>
            </div>
            <div class="card-body">
                <input style="width: 60%;border:none" name="weight" id="weight" placeholder="가중치를 입력하세요"/>
            </div>

            <!-- type="button"으로 변경, id값 추가 -->
            <br/>
            <div class="d-grid gap-2">
                <button type="button" onclick="add()" class="btn btn-primary btn-lg">제출</button>
            </div>
        </form>
    </div>

    </div>
</section>

<footer th:replace="/fragments/admin-body-footer.html :: admin-body-footer"></footer>
</body>
</html>
<script>

    const host = window.location.protocol + '//' + window.location.host;
    let id = window.location.search.split('id=')[1];

    let url = host + '/api/admin/create/category';
    let url3 = host + '/admin/category';

    function add() {

        // form 데이터를 JSON으로 만듬
        const name = document.getElementById("name").value;
        const weight = document.getElementById("weight").value;

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: name,
                weight: weight,
            })
        }).then(() => {
            location.href = url3;
        }).catch((error) => {
            alert('생성에 실패하였습니다.');
        });
    }

</script>