<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-header.html :: admin-header"></head>
<body>
<header th:replace="fragments/admin-body-header.html :: admin-body-header"></header>

<section>
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm fs-3 fw-bold">게시글 목록</div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">제목</th>
            <th scope="col">삭제 상태</th>
            <th scope="col">조회수</th>
            <th scope="col">카테고리</th>
            <th scope="col">생성 시간</th>
            <th scope="col">수정 시간</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" onclick="prevPage()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="nextPage()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<footer th:replace="fragments/admin-body-footer.html :: admin-body-footer"></footer>
<script>
    const host = window.location.host;

    let pageable = {
        page: 0,
        size: 10,
        totalPage: 0
    }

    fetchPosts(pageable);

    function prevPage() {
        if (pageable.page > 0) {
            pageable.page -= 1;
            fetchPosts(pageable);
        } else {
            alert('첫 번째 입니다.');
        }
    }

    function nextPage() {
        if (pageable.page < pageable.totalPage - 1) {
            pageable.page += 1;
            fetchPosts(pageable);
        } else {
            alert('마지막 입니다.');
        }
    }

    async function fetchPosts(pageable) {
        let fetchData = await fetch('http://' + host + '/api/admin/posts?page=' + pageable.page + "&size=" + pageable.size)
            .then((response) => response.json());

        pageable.totalPage = fetchData.data.totalPages;

        creatTable(fetchData.data);
    }

    function creatTable(data) {
        let tbody = document.getElementById('table-body');
        removeTable();

        let posts = data.content;
        for (let key in posts) {
            let row =
                '<tr id="tr-' + key + '">' +
                '   <th>' + posts[key].id + '</th>' +
                '   <td>' + posts[key].blog.user.name + '</td>' +
                '   <td>' + posts[key].title + '</td>' +
                '   <td>' + posts[key].deleteStatus + '</td>' +
                '   <td>' + posts[key].view + '</td>' +
                '   <td>' + posts[key].category.name + '</td>' +
                '   <td>' + posts[key].createDate + '</td>' +
                '   <td>' + posts[key].lastModifiedDate + '</td>' +
                '</tr>'
            tbody.innerHTML += row;
        }
    }

    function removeTable() {
        let tbody = document.getElementById('table-body');
        for (let i = 0; i < pageable.size; i++) {
            let row = document.getElementById('tr-' + i);
            if (row != null) {
                tbody.removeChild(row);
            }
        }
    }
</script>
</body>
</html>