<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-header.html :: admin-header"></head>
<body>
<header th:replace="fragments/admin-body-header.html :: admin-body-header"></header>

<section>
    <div class="contents">
        <h3 class="fw-bold">[ SKHUED-IN Admin page ]</h3>
        <br>
        <h4>
            Available only to administrators.</h4>
        <h4>If you are not an administrator, please leave.</h4>
        <br>
        <br>
        <div>
            <a id="kakao-login-btn"></a>
        </div>
        <br>
        <div>
            <a id="swagger-btn" onclick="goSwagger()">
                <img src="/images/swagger.png">
            </a>
        </div>
    </div>
</section>

<footer th:replace="fragments/admin-body-footer.html :: admin-body-footer"></footer>
</body>
</html>