<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="admin-body-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">skhuedin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">회원 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/posts">게시글 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/blogs">블로그 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">카테고리 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/question">질문 관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>