<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <div class="fixed-navbar">
        <a href="/" style="color:#ffffff; ">
            <div style="width:250px; padding-top:5px">SKHUED-IN <br> 관리자 페이지</div>
        </a>
        <a href="/user" style="color:#ffffff; ">
            <div>회원 관리</div>

        </a>
        <a href="/post" onclick=postList() style="color:#ffffff; ">
            <div>게시글 관리</div>
        </a>
        <a href="/question" onclick=questionList() style="color:#ffffff; ">
            <div>질문/댓글 관리</div>
        </a>
        <a href="/category" onclick=categoryList() style="color:#ffffff; ">
            <div>메인화면 정렬</div>
        </a>
    </div>
</div>