body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {

}

section {
    flex: 1;
    padding: 5%;
}

footer {
    text-align: center;
    padding:10px 0;
    background: #5e5c5c;
    color: #f8f9fa;
}

a {
    color: #f8f9fa;
    text-decoration: none;
}

a:hover {
    color: #055160;
}

.sm{
    flex: 1;
    padding: 5% 30%;
}

.contents {
    width: 40%;
    height: 80%;
    padding: 5%;
    margin: 0 auto;
    background:  #f8f9fa!important;
    text-align: center;
    border: 1px solid #f8f9fa!important;
    border-radius: 40px 40px 40px 40px;
}