@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fixed-navbar {

    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background: #1d84df;
    color: #ffffff;
    text-align: center;
    border-radius: 40px 80px;
    padding: 0px 20px 20px;

}

.footer {

    padding: 10px 50px 10px 20px;
    position: absolute;
    clear: left;
    width: 100%;
    height: 50px;
    bottom: 10px;
    left: 100px;
    font-size: 20px;
    background: #F8FFFF;
    font-family: 'BMEULJIRO';

}

.contents {

    width: 100%;
    height: 700px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    background: #F8FFFF;
    color: #ffffff;
    text-align: center;

}

.category {

    width: 55%;
    height: 600px;
    padding: 120px 20px 10px 20px;
    margin: 0 auto;
    text-align: center;

}

.container {

    width: 60%;
    height: 350px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    background: #5c636a;
    text-align: center;
    font-family: 'BMEULJIRO';
    border: 1px solid #ffcd39;
    border-radius: 40px 40px 40px 40px;

}

.kakao {

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background: #1d84df;
    color: #ffffff;
    text-align: center;
    border-radius: 40px 80px;
    padding: 0px 20px 20px;

}

.fixed-navbar div {

    padding-top: 15px;
    width: 18%;
    text-align: center;
    margin: 0 auto;
    float: left;
    font-family: 'BMEULJIRO';
    font-size: 31px;

}

.fixed-navbar div:hover {

    color: black;

}

.mainContent {

    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}

.mainContent span table {

    text-align: center;
    font-family: 'BMEULJIRO';
    font-size: 20px;
    color: black;

}

.mainContent span table th {

    text-align: center;
    font-family: 'BMEULJIRO';
    font-size: 30px;
    color: black;
    padding-bottom: 10px;

}

th, td {
    border: 1px solid #444444;
    margin: 5px;
}
