<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:replace="contents/kakaoLogin :: kakaoLogin"/>
    <div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" th:inline="javascript"
                th:src="@{js/get.js}"></script>

        <div class="mainContent">
            <span id="result"></span>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
</html>