<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

  </head>
<body>
<div class="contents" th:fragment="kakaoLogin">
  <a id="kakao-login-btn"></a>
  <a href="http://developers.kakao.com/logout"></a>

  <script type="text/javascript">

      Kakao.init('b9de844ef665dda98917b7ec7b9d9a8b');
      Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function(authObj) {
          kakao(authObj["access_token"]);
        },
        fail: function(err) {
           alert(JSON.stringify(err));
        }
      });
  </script>
</div>
</body>
</html>

